.navbar {
  background-color: black;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8%;
  z-index: 1000;
  display: flex; /* 👈 ini bikin isinya horizontal */
  align-items: center; /* 👈 tengahkan secara vertikal */
  justify-content: space-between; /* 👈 jarak antara logo & nav */
}

.nav-links::before {
  content: '';
  position: absolute;
  width: 1000%;
  height: 30px;
  background-color: #2f4735;
  top: 50%; /* posisi vertikal: tengah */
  transform: translateY(-50%);
  z-index: -1; /* biar di belakang teks */
}

.nav-links {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 40px;
  top: 1%;
  right: 39%;
 
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  font-family: chewy;
  
}

.nav-links a:hover {
  color: #000000;
}

/* misal di LandingPage.css */
.konten-utama {
  padding-top: 10%;
}

.custom-text {
  letter-spacing: normal;
  word-spacing: 50px;
}

.logo-container {
  display: flex;
  align-items: center;
}


.vre {
  height: 10%; /* atur sesuai ukuran logo kamu */
  width: 16%;
  margin-top: 3%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
